  
version: 2.1

jobs:
  build:
    docker:
      - image: cimg/python:3.10

    steps:
      - checkout

      - run:
          name: Say Hello
          command: echo "Hello from CircleCI"

workflows:
  version: 2
  build-workflow:
    jobs:
      - build
