version: 2.1

orbs:
  python: circleci/python@2.1.1

jobs:
  pr-validation:
    docker:
      - image: cimg/python:3.10
    steps:
      - checkout

workflows:
  pr-workflow:
    jobs:
      - pr-validation

